.errorTemplate {
  min-height: 100vh;
  background-color: white;
  padding: 9rem 0;
}

.errorMessage {
  width: 80%;
  margin: 1rem auto;
}

.errorMessage > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.errorMessage > a {
  font-size: 1.8rem;
  color:#8BC34A;
  font-weight: bold;
  
}