.postsContainer {
  min-height: 100vh;
  background-color: white;
  padding: 9rem 0;
}

.newPostControl {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .newPostControl {
    margin-top: 3rem;
  }
}


@media (min-width: 1440px) {
  .newPostControl {
    margin-top: 5rem;
  }
}