.post {
  background-color: white;
  width: 100%;
  margin: 3rem auto;
  border: 1px solid #81D2CB;
}

.heading {
  background-color: white;
  padding: 1rem;

}


.contentArea {
  background-color: white;
  padding: 1rem;

}

.interactionContainer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;

}

.innerContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.pawContainer {
  margin-right: 4rem;
}
/* .interactionContainer > button {
  height: 2rem;
  border: none;
  padding: 1.5rem;
  display: flex;
  align-items: center;
} */

@media (min-width: 768px) {
  .post { 
    width: 50%;
    margin: 4rem auto;
  }
}